example/ExampleFlow.json
[{"id":"36117e1b.5532f2","type":"tab","label":"WAMP测试","disabled":false,"info":""},{"id":"b08601ac.55a8","type":"wamp-client","z":"","address":"ws://localhost:9995/ims","realm":"com.vtstar.desktop.print.1","name":""},{"id":"e99080fe.27faa","type":"serial-port","z":"","serialport":"COM2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"b947f710.a08d08","type":"wamp in","z":"36117e1b.5532f2","role":"subscriber","router":"b08601ac.55a8","topic":"app.sub","name":"subscribe topic [app.sub]","x":330,"y":100,"wires":[["18b78415.c0f9bc"]]},{"id":"e5aaf628.72d028","type":"wamp out","z":"36117e1b.5532f2","role":"publisher","router":"b08601ac.55a8","topic":"ims.sub","name":"publish topic [ims.sub]","x":320,"y":180,"wires":[]},{"id":"3479d597.c8f1ca","type":"debug","z":"36117e1b.5532f2","name":"","active":true,"console":"false","complete":"payload","x":630,"y":240,"wires":[]},{"id":"60266090.1a36b","type":"inject","z":"36117e1b.5532f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":240,"wires":[["e5aaf628.72d028","c1a0f4aa.9cf028","3479d597.c8f1ca"]]},{"id":"c1a0f4aa.9cf028","type":"wamp call","z":"36117e1b.5532f2","router":"b08601ac.55a8","procedure":"ims.proc","name":"call procedure [ims.proc]","x":330,"y":280,"wires":[["3479d597.c8f1ca"]]},{"id":"f2664dff.2735d","type":"wamp in","z":"36117e1b.5532f2","role":"calleeReceiver","router":"b08601ac.55a8","topic":"app.proc","name":"callee procedure receiver [app.proc]","x":339,"y":360,"wires":[["c0328acd.c376b8","c09e52ba.ff51a"]]},{"id":"c0328acd.c376b8","type":"wamp out","z":"36117e1b.5532f2","role":"calleeResponse","router":"b08601ac.55a8","topic":"","name":"callee response","x":640,"y":360,"wires":[]},{"id":"18b78415.c0f9bc","type":"debug","z":"36117e1b.5532f2","name":"","active":true,"console":"false","complete":"false","x":630,"y":100,"wires":[]},{"id":"c09e52ba.ff51a","type":"debug","z":"36117e1b.5532f2","name":"","active":true,"console":"false","complete":"payload","x":617.1666870117188,"y":426,"wires":[]}]